<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Примеры строк соединения можно подсмотреть на -->
    <!--http://www.connectionstrings.com/sql-server-2012/ -->
    
    <add name="SUPSDB" connectionString="Server=(localDB)\v11.0;
         AttachDbFilename=D:\DDproject\railwaytracking2013\Personal\Yuliya Artishevskaya\DigDes.DSchool.SUPS\Database\SUPS.mdf;
         Trusted_Connection=Yes;" 
    providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" 
                          sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>