<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="SUPSDB" connectionString="Server=(localDB)\v11.0;
         AttachDbFilename=D:\DDproject\railwaytracking2013\Personal\Yuliya Artishevskaya\DigDes.DSchool.SUPS\Database\SUPS.mdf;
         Trusted_Connection=Yes;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <add name="ShowImages" path="ShowImages.ashx" type="WebUI.ShowImages, WebUI" verb="*"/>
    </handlers>
  </system.webServer>
  

</configuration>
